@{
    ViewData["Title"] = "Home Page";

    <style type="text/css">
        body {
            background-image: url('https://scontent.fprn3-1.fna.fbcdn.net/v/t39.30808-6/338947441_607990301201109_4201521623618221570_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=173fa1&_nc_ohc=sd_0E7vDuUcAX8yoM3N&_nc_ht=scontent.fprn3-1.fna&oh=00_AfB19-powbZSpi_Pl1XPUJhqyayZjhu-bdHA1hJq6MbhXw&oe=65BCAA1D');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin: 0;
        }
    </style>
}

<div class="text-center">
    <h1 class="text-white">School Project</h1>
</div>
