@model UniversumCRUD.Models.UpdateStudentViewModel

@{
}

<h1>Edit a Student</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <select id="Department" class="form-select" asp-for="Department" aria-label="Default select example">
            <option selected>Choose Department</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Cyber Security">Cyber Security</option>
            <option value="Graphic Design">Graphic Design</option>
            <option value="Business and Management">Business and Management</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
    <button type="submit" class="btn btn-danger" 
        asp-action="Delete"
        asp-controller="Students">Delete</button>
</form>